In [35]:
import pandas as pd
import numpy as np
import csv


dataset = "adult.data"
df = pd.read_csv(dataset,sep=",",names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country','ganancia'])
df = df.iloc[1:]
df.head()

delFilas = []

for i, r in df.iterrows():
    if r['workclass'] == ' ?':
        df.drop([i], inplace=True)
        
for i, r in df.iterrows():
    if r['occupation'] == ' ?':
        df.drop([i], inplace=True)
        
for i, r in df.iterrows():
    if r['native-country'] == ' ?':
        df.drop([i], inplace=True)

datos = df
datos

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,ganancia
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32526,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32527,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32528,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32529,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [36]:
#Label Encoder
import numpy as np
from sklearn import preprocessing

# Sample input labels
#WorksClass

workclasslist = ['Federal-gov', 'Local-gov', 'Never-worked', 'Private', 'Self-emp-inc', 'Self-emp-not-inc', 'State-gov',
                 'Without-pay']

educationList= ['10th', '11th', '12th', '1st-4th', '5th-6th', '7th-8th', '9th', 'Assoc-acdm', 'Assoc-voc', 'Bachelors',
                'Doctorate', 'HS-grad', 'Masters', 'Preschool', 'Prof-school', 'Some-college']

maritalStatusList= ['Divorced', 'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent', 'Never-married',
                    'Separated', 'Widowed']

occupationList= ['Adm-clerical', 'Armed-Forces', 'Craft-repair', 'Exec-managerial', 'Farming-fishing', 'Handlers-cleaners',
                 'Machine-op-inspct', 'Other-service', 'Priv-house-serv', 'Prof-specialty', 'Protective-serv', 'Sales',
                 'Tech-support', 'Transport-moving']


relationshipList= ['Husband', 'Not-in-family', 'Other-relative', 'Own-child', 'Unmarried', 'Wife']

raceList= ['Amer-Indian-Eskimo', 'Asian-Pac-Islander', 'Black', 'Other', 'White']

sexList= ['Female', 'Male']

nativeCountryList= ['Cambodia', 'Canada', 'China', 'Columbia', 'Cuba', 'Dominican-Republic', 'Ecuador', 'El-Salvador',
                    'England', 'France', 'Germany', 'Greece', 'Guatemala', 'Haiti', 'Holand-Netherlands', 'Honduras', 'Hong',
                    'Hungary', 'India', 'Iran', 'Ireland', 'Italy', 'Jamaica', 'Japan', 'Laos', 'Mexico', 'Nicaragua',
                    'Outlying-Us(Guam-USVI-etc)', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto-Rico', 'Scotland',
                    'South', 'Taiwan', 'Thailand', 'Trinadad&Tobago', 'United-States', 'Vietnam', 'Yugoslavia']


# Create label encoder and fit the labels

workclassCode = preprocessing.LabelEncoder()
workclassCode.fit(workclasslist)

educationCode = preprocessing.LabelEncoder()
educationCode.fit(educationList)


maritalStatusCode = preprocessing.LabelEncoder()
maritalStatusCode.fit(maritalStatusList)


occupationCode = preprocessing.LabelEncoder()
occupationCode.fit(occupationList)


relationshipCode = preprocessing.LabelEncoder()
relationshipCode.fit(relationshipList)


raceCode = preprocessing.LabelEncoder()
raceCode.fit(raceList)


sexCode = preprocessing.LabelEncoder()
sexCode.fit(sexList)


nativeCountryCode = preprocessing.LabelEncoder()
nativeCountryCode.fit(nativeCountryList)


# Print the mapping 
print("\nworkclassCode:")
for i, item in enumerate(workclassCode.classes_):
    print(item, '-->', i)
    
    print("\neducationCode:")
for i, item in enumerate(educationCode.classes_):
    print(item, '-->', i)
    
    print("\nmaritalStatusCode:")
for i, item in enumerate(maritalStatusCode.classes_):
    print(item, '-->', i)
    
    print("\noccupationCode:")
for i, item in enumerate(occupationCode.classes_):
    print(item, '-->', i)
    
    print("\nrelationshipCode:")
for i, item in enumerate(relationshipCode.classes_):
    print(item, '-->', i)
    
    print("\nraceCode:")
for i, item in enumerate(raceCode.classes_):
    print(item, '-->', i)
    
    print("\nsexCode:")
for i, item in enumerate(sexCode.classes_):
    print(item, '-->', i)
    
    print("\nnativeCountryCode:")
for i, item in enumerate(nativeCountryCode.classes_):
    print(item, '-->', i)
    
    
    
    
    
    
nuevaListWorkClass = []    
nuevaListeducation = []
nuevaListmaritalStatus = []
nuevaListoccupation = []
nuevaListrelationship = []
nuevaListrace = []
nuevaListsex = []
nuevaListnativeCountry = []
    

    
    
for i,r in df.iterrows():
    nuevaListWorkClass.append(r['workclass'].strip())   
    nuevaListeducation.append(r['education'].strip()) 
    nuevaListmaritalStatus.append(r['marital-status'].strip()) 
    nuevaListoccupation.append(r['occupation'].strip()) 
    nuevaListrelationship.append(r['relationship'].strip()) 
    nuevaListrace.append(r['race'].strip()) 
    nuevaListsex.append(r['sex'].strip()) 
    nuevaListnativeCountry.append(r['native-country'].strip()) 
    

    
workclassCode = workclassCode.transform(nuevaListWorkClass)
df['workclass'] = list(workclassCode)

educationCode = educationCode.transform(nuevaListeducation)
df['education'] = list(educationCode)

maritalStatusCode = maritalStatusCode.transform(nuevaListmaritalStatus)
df['marital-status'] = list(maritalStatusCode)

occupationCode = occupationCode.transform(nuevaListoccupation)
df['occupation'] = list(occupationCode)

relationshipCode = relationshipCode.transform(nuevaListrelationship)
df['relationship'] = list(relationshipCode)

raceCode = raceCode.transform(nuevaListrace)
df['race'] = list(raceCode)

sexCode = sexCode.transform(nuevaListsex)
df['sex'] = list(sexCode)

#nativeCountryCode = nativeCountryCode.transform(nuevaListnativeCountry)
#df['native-country'] = list(nativeCountryCode)

# Extraer la columna de native-country
inputs = np.array(df)
nativecountry= inputs[:,13]
#print(nativecountry)
# Create label encoder and fit the labels
encoder5 = preprocessing.LabelEncoder()
encoder5.fit(nativecountry)
# Print the mapping 
print("\nNative Country mapping:")
for i, item in enumerate(encoder5.classes_):
    print(item, '-->', i)

# Encode a set of labels using the encoder
encoded_values7 = encoder5.transform(nativecountry)
#print("\nLabels =", workclass)
#print("Encoded values =", list(encoded_values7))
df['native-country'] = encoded_values7

#################################################
# Extraer la columna de native-country
inputs = np.array(df)
ganancia= inputs[:,14]
#print(nativecountry)
# Create label encoder and fit the labels
encoder8 = preprocessing.LabelEncoder()
encoder8.fit(ganancia)
# Print the mapping 
print("\nGanancia Country mapping:")
for i, item in enumerate(encoder8.classes_):
    print(item, '-->', i)

# Encode a set of labels using the encoder
encoded_values8 = encoder8.transform(ganancia)
#print("\nLabels =", workclass)
#print("Encoded values =", list(encoded_values7))
df['ganancia'] = encoded_values8

df.head()

workclassCode:
Federal-gov --> 0

educationCode:
Local-gov --> 1

educationCode:
Never-worked --> 2

educationCode:
Private --> 3

educationCode:
Self-emp-inc --> 4

educationCode:
Self-emp-not-inc --> 5

educationCode:
State-gov --> 6

educationCode:
Without-pay --> 7

educationCode:
10th --> 0

maritalStatusCode:
11th --> 1

maritalStatusCode:
12th --> 2

maritalStatusCode:
1st-4th --> 3

maritalStatusCode:
5th-6th --> 4

maritalStatusCode:
7th-8th --> 5

maritalStatusCode:
9th --> 6

maritalStatusCode:
Assoc-acdm --> 7

maritalStatusCode:
Assoc-voc --> 8

maritalStatusCode:
Bachelors --> 9

maritalStatusCode:
Doctorate --> 10

maritalStatusCode:
HS-grad --> 11

maritalStatusCode:
Masters --> 12

maritalStatusCode:
Preschool --> 13

maritalStatusCode:
Prof-school --> 14

maritalStatusCode:
Some-college --> 15

maritalStatusCode:
Divorced --> 0

occupationCode:
Married-AF-spouse --> 1

occupationCode:
Married-civ-spouse --> 2

occupationCode:
Married-spouse-absent --> 3

occupationCode:
Never-married --> 4

occupationCode:
Separated --> 5

occupationCode:
Widowed --> 6

occupationCode:
Adm-clerical --> 0

relationshipCode:
Armed-Forces --> 1

relationshipCode:
Craft-repair --> 2

relationshipCode:
Exec-managerial --> 3

relationshipCode:
Farming-fishing --> 4

relationshipCode:
Handlers-cleaners --> 5

relationshipCode:
Machine-op-inspct --> 6

relationshipCode:
Other-service --> 7

relationshipCode:
Priv-house-serv --> 8

relationshipCode:
Prof-specialty --> 9

relationshipCode:
Protective-serv --> 10

relationshipCode:
Sales --> 11

relationshipCode:
Tech-support --> 12

relationshipCode:
Transport-moving --> 13

relationshipCode:
Husband --> 0

raceCode:
Not-in-family --> 1

raceCode:
Other-relative --> 2

raceCode:
Own-child --> 3

raceCode:
Unmarried --> 4

raceCode:
Wife --> 5

raceCode:
Amer-Indian-Eskimo --> 0

sexCode:
Asian-Pac-Islander --> 1

sexCode:
Black --> 2

sexCode:
Other --> 3

sexCode:
White --> 4

sexCode:
Female --> 0

nativeCountryCode:
Male --> 1

nativeCountryCode:
Cambodia --> 0
Canada --> 1
China --> 2
Columbia --> 3
Cuba --> 4
Dominican-Republic --> 5
Ecuador --> 6
El-Salvador --> 7
England --> 8
France --> 9
Germany --> 10
Greece --> 11
Guatemala --> 12
Haiti --> 13
Holand-Netherlands --> 14
Honduras --> 15
Hong --> 16
Hungary --> 17
India --> 18
Iran --> 19
Ireland --> 20
Italy --> 21
Jamaica --> 22
Japan --> 23
Laos --> 24
Mexico --> 25
Nicaragua --> 26
Outlying-Us(Guam-USVI-etc) --> 27
Peru --> 28
Philippines --> 29
Poland --> 30
Portugal --> 31
Puerto-Rico --> 32
Scotland --> 33
South --> 34
Taiwan --> 35
Thailand --> 36
Trinadad&Tobago --> 37
United-States --> 38
Vietnam --> 39
Yugoslavia --> 40

Native Country mapping:
 Cambodia --> 0
 Canada --> 1
 China --> 2
 Columbia --> 3
 Cuba --> 4
 Dominican-Republic --> 5
 Ecuador --> 6
 El-Salvador --> 7
 England --> 8
 France --> 9
 Germany --> 10
 Greece --> 11
 Guatemala --> 12
 Haiti --> 13
 Holand-Netherlands --> 14
 Honduras --> 15
 Hong --> 16
 Hungary --> 17
 India --> 18
 Iran --> 19
 Ireland --> 20
 Italy --> 21
 Jamaica --> 22
 Japan --> 23
 Laos --> 24
 Mexico --> 25
 Nicaragua --> 26
 Outlying-US(Guam-USVI-etc) --> 27
 Peru --> 28
 Philippines --> 29
 Poland --> 30
 Portugal --> 31
 Puerto-Rico --> 32
 Scotland --> 33
 South --> 34
 Taiwan --> 35
 Thailand --> 36
 Trinadad&Tobago --> 37
 United-States --> 38
 Vietnam --> 39
 Yugoslavia --> 40

Ganancia Country mapping:
 <=50K --> 0
 >50K --> 1

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,ganancia
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,0
5,37,3,284582,12,14,2,3,5,4,0,0,0,40,38,0

In [37]:
###############################################################################################################################
#Data_preprocessor

import numpy as np
from sklearn import preprocessing

input_data = np.array(df)

# Binarize data 
data_binarized = preprocessing.Binarizer(threshold=2.1).transform(input_data)
print("\nBinarized data:\n", data_binarized)

# Print mean and standard deviation
print("\nBEFORE:")
print("Mean =", input_data.mean(axis=0))
print("Std deviation =", input_data.std(axis=0))

# Remove mean
data_scaled = preprocessing.scale(input_data)
print("\nAFTER:")
print("Mean =", data_scaled.mean(axis=0))
print("Std deviation =", data_scaled.std(axis=0))

# Min max scaling
data_scaler_minmax = preprocessing.MinMaxScaler(feature_range=(0, 1))
data_scaled_minmax = data_scaler_minmax.fit_transform(input_data)
print("\nMin max scaled data:\n", data_scaled_minmax)

# Normalize data
data_normalized_l1 = preprocessing.normalize(input_data, norm='l1')
data_normalized_l2 = preprocessing.normalize(input_data, norm='l2')
print("\nL1 normalized data:\n", data_normalized_l1)
print("\nL2 normalized data:\n", data_normalized_l2)

Binarized data:
 [[1 1 1 ... 1 1 0]
 [1 1 1 ... 1 1 0]
 [1 1 1 ... 1 1 0]
 ...
 [1 1 1 ... 1 1 0]
 [1 1 1 ... 1 1 0]
 [1 1 1 ... 1 1 0]]

BEFORE:
Mean = [3.84378834e+01 3.09943304e+00 1.89797557e+05 1.03338086e+01
 1.01212161e+01 2.58008687e+00 5.96004774e+00 1.41835483e+00
 3.67859156e+00 6.75673883e-01 1.09197198e+03 8.83754186e+01
 4.09312689e+01 3.63825138e+01 2.48930738e-01]
Std deviation = [1.31346644e+01 1.14080773e+00 1.05650993e+05 3.81228418e+00
 2.54994104e+00 1.49799331e+00 4.02942024e+00 1.60133642e+00
 8.34707374e-01 4.68122512e-01 7.40634388e+03 4.04298050e+02
 1.19799830e+01 6.10536536e+00 4.32393601e-01]

AFTER:
Mean = [ 1.11666475e-16 -7.51510668e-17  5.93669870e-17  5.24172802e-17
 -9.23486464e-17 -1.04598977e-16 -4.16982409e-17  9.78848535e-17
  1.37580636e-16 -2.23804118e-17 -1.08368310e-17  3.88712415e-17
  1.64672714e-16 -2.27102284e-16  1.01536394e-16]
Std deviation = [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

Min max scaled data:
 [[0.45205479 0.71428571 0.04727738 ... 0.12244898 0.95       0.        ]
 [0.28767123 0.42857143 0.1372439  ... 0.39795918 0.95       0.        ]
 [0.49315068 0.42857143 0.15021184 ... 0.39795918 0.95       0.        ]
 ...
 [0.56164384 0.42857143 0.09391367 ... 0.39795918 0.95       0.        ]
 [0.06849315 0.42857143 0.1276201  ... 0.19387755 0.95       0.        ]
 [0.47945205 0.57142857 0.18638336 ... 0.39795918 0.95       1.        ]]

L1 normalized data:
 [[5.99168354e-04 5.99168354e-05 9.98346295e-01 ... 1.55783772e-04
  4.55367949e-04 0.00000000e+00]
 [1.76092235e-04 1.39020186e-05 9.99304899e-01 ... 1.85360248e-04
  1.76092235e-04 0.00000000e+00]
 [2.25653864e-04 1.27728602e-05 9.99352842e-01 ... 1.70304803e-04
  1.61789563e-04 0.00000000e+00]
 ...
 [3.81370699e-04 1.97260706e-05 9.98862463e-01 ... 2.63014275e-04
  2.49863561e-04 0.00000000e+00]
 [1.09124278e-04 1.48805833e-05 9.99429578e-01 ... 9.92038888e-05
  1.88487389e-04 0.00000000e+00]
 [1.71549221e-04 1.31960940e-05 9.49877936e-01 ... 1.31960940e-04
  1.25362893e-04 3.29902349e-06]]

L2 normalized data:
 [[6.00160652e-04 6.00160652e-05 9.99999682e-01 ... 1.56041770e-04
  4.56122096e-04 0.00000000e+00]
 [1.76214713e-04 1.39116879e-05 9.99999949e-01 ... 1.85489172e-04
  1.76214713e-04 0.00000000e+00]
 [2.25799980e-04 1.27811310e-05 9.99999946e-01 ... 1.70415079e-04
  1.61894325e-04 0.00000000e+00]
 ...
 [3.81804961e-04 1.97485325e-05 9.99999855e-01 ... 2.63313766e-04
  2.50148078e-04 0.00000000e+00]
 [1.09186557e-04 1.48890759e-05 9.99999968e-01 ... 9.92605061e-05
  1.88594961e-04 0.00000000e+00]
 [1.80355962e-04 1.38735355e-05 9.98641367e-01 ... 1.38735355e-04
  1.31798588e-04 3.46838389e-06]]